@use "../utils/vars" as *;

footer {
  background-color: $darkFontCl;
  color: $whiteFontCl; 
}

.footer-section {
  display: flex;
  justify-content: space-between;

  &__title {
    padding-bottom: 18px;
    margin: 0px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px;
    margin: 0px;
  }

  &__link {
    text-decoration: none;
    color: $whiteFontCl;
  }

  &__text {
    margin: 0px;
  }

  &__box {

    &__list {
      margin: 0px;
      padding: 0px;
      word-wrap: break-word;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &--socialmedia {
      display: flex;
      gap: 16px;
    }

    &--logo {
      fill: $whiteFontCl;
    }
  }
}

@media screen and (max-width: 767px) {

  .footer-section {
    max-width: 320px;
    flex-wrap: wrap;
    padding: 32px 16px;
    gap: 32px;

    &__box {
      width: 128px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .footer-section {
    max-width: 768px;
    padding: 60px 24px 54px;
    gap: 44px;

    &__box {

      &--socialmedia {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1279px) {

  .footer-section {

    &__box {

      &--logo{
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1280px) {

  .footer-section {
    max-width: 1280px;
    padding: 72px 48px 72px 24px;
    gap: 96px;

    &__box {

      &--socialmedia {
        flex-direction: column;
        align-items: end;
      }
      
      &:first-child {
        flex-grow: 2;
      }
      &:last-child {
        flex-grow: 2;
      }
    }
  }
}