// inputs
$inputCorrectCl: #3cbc81;
$inputErrorCl: #e74a3b;

// btns
$btnDefCl: #e86f54;
$btnHoverCl: #e25b41;
$btnFocusCl: #fa6f54;
$btnUnactiveCl: rgba(232, 111, 84, 0.4);
// fonts

$whiteFontCl: #fff;
$darkFontCl: #000;
$fontModalGreyCl: #5c5c5c;
$fontModalPlaceholder: rgba(0, 0, 0, 0.4);
$fontPriceCl: rgba(0, 0, 0, 0.6);

// misc
$btnAnimation: background-color 0.3s ease;
$iconPhoneCl: #0e0e0e;
