@import '../utils/vars';

.footer {
  background-color: $darkFontCl;
  height: 389px;

  &-section {
    display: flex;

    padding: 0 16px;
    color: $whiteFontCl;
  }

  &-row {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
  }

  &-col {
    width: 48%;
    height: 25%;

    &--display {
      display: none;
    }
  }

  &-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    display: inline;
  }

  &-list {
    font-style: normal;
    padding: 0;
    width: 100%;
    margin-top: 18px;

    &_icons {
      display: flex;
      gap: 14px;
    }

    &_element {
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.21;
      margin-bottom: 12px;

      > a {
        color: $whiteFontCl;
        font-family: 'Inter', sans-serif;
        text-decoration: none;

        > span {
          font-family: 'Inter', sans-serif;
          text-decoration: none;
        }
      }
    }
  }

  &-p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 268px;
    margin: 0 auto;
    &-row {
      max-width: 768px;
      flex-wrap: nowrap;
    }

    &-col {
      width: auto;
    }

    &-list {
      &_element-br {
        display: none;
      }
      &_icons {
        display: block;
        gap: 18px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    height: 299px;
    &-row {
      max-width: 1280px;
    }

    &-col--display {
      display: block;
      fill: #fff;
    }
  }
}
