@use '../utils/vars' as *;
.header {
  width: 100vw;
  background-color: $whiteFontCl;
  padding-top: 16px;
  position: fixed;
  top: 0;
  z-index: 10;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 28px;
  }

  &__ul {
    display: flex;
    gap: 14px;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }

  &__links {
    display: flex;
    padding-inline-start: 0;
    column-gap: 24px;

    @media screen and (min-width: 1280px) {
      column-gap: 48px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    color: $darkFontCl;
  }

  &__nav {
    width: 100%;
    align-items: flex-start;
    display: flex;
    position: relative;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &-wider {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__button-phone {
    background-color: $whiteFontCl;
    border: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu-button {
    cursor: pointer;
    background-color: $whiteFontCl;
    border: 0;
    margin: 0;
    padding: 0px;
    overflow: visible;
  }
}
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e86f54;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-150%);
  transition: transform 250ms;
  z-index: 1000;

  &.is-open {
    transform: translateX(0);
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 16px;
  }
  &__button-close {
    fill: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
  }
  &__list {
    height: 100vh;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    text-decoration: none;
    padding-top: 84px;
  }
  &__item {
    font-size: 20px;
    line-height: 1.2;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: $whiteFontCl;

    &:visited {
      color: $whiteFontCl;
    }
  }
}
#store {
  scroll-margin-top: 100px;
}
#delivery {
  scroll-margin-top: 100px;
}
#blog {
  scroll-margin-top: 100px;
}
#about {
  scroll-margin-top: 100px;
}
