@use '../utils/vars' as *;

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%) scale(0);
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.3s ease;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: visibility, transform;
  transition-duration: 5s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  visibility: visible;
  width: 272px;
  min-height: 358px;
  background-color: $whiteFontCl;
  &__button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 18px;
    height: 18px;
    padding: 0;
    padding-top: 3px;
    border: 0px;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  &__button-close-icon {
    fill: rgba(0, 0, 0, 1);
  }
}

.modal-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    width: 272px;
    height: 121px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
    }
  }
  &__container {
    padding-top: 18px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
  &__title {
    padding-bottom: 14px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.2;
  }

  &__description {
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    color: $fontModalGreyCl;
  }

  &__form {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
    &-title {
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      color: $fontModalGreyCl;
    }
    &-input {
      height: 35px;
      width: 220px;
      outline: none;
      padding-left: 12px;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.25;
      color: #111111;
      &::placeholder {
        color: rgba(17, 17, 17, 0.4);
      }
      &:hover {
        border-color: rgba(17, 17, 17, 0.7);
      }
      &:valid {
        border-color: $inputCorrectCl;
      }
      &:invalid {
        border-color: $inputErrorCl;
      }
    }
    &-subscribe {
      width: 236px;
      height: 37px;
      background-color: $btnDefCl;
      border-radius: 8px;
      margin-bottom: 28px;
      border: none;
      outline: none;
      &:hover {
        background-color: $btnHoverCl;
      }
      &:focus {
        background-color: $btnFocusCl;
      }
      &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;
        color: $whiteFontCl;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 588px;
    height: 644px;
    &__button-close {
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
    }
  }
  .modal-flow {
    &__img {
      width: 588px;
      height: 271px;
    }
    &__container {
      padding-top: 28px;
      text-align: center;
      padding-left: 118px;
      padding-right: 118px;
    }
    &__title {
      padding-bottom: 24px;
      font-size: 28px;
    }
    &__description {
      font-size: 16px;
    }
    &__form {
      padding-top: 28px;
      gap: 28px;

      &-title {
        font-size: 14px;
      }
      &-input {
        height: 49px;
        width: 322px;
        font-size: 14px;
      }
      &-subscribe {
        width: 336px;
        height: 50px;

        margin-bottom: 40px;

        &-text {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 860px;
    height: 528px;
  }
  .modal-flow {
    flex-direction: row;
    width: 100%;
    height: 100%;
    &__img {
      width: 428px;
      height: 528px;
    }
    &__container {
      width: 432px;
      padding: 0px;
    }
    &__title {
      padding-top: 111px;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__description {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}
